/* workoutlife for internet explorer */
.bottom-header .main-menu > ul .menu-box {background-image: url(../images/bg-tranparent-ie.png);}
.bottom-header .main-menu .menu-hover ul li a {margin-bottom:5px;display:block;height:16px;}